$white: #fff;
$grey: #b1b1b1;
$black: #212121;

$default: #e31019;
$defaultDark: #d80211;

$success: #2bc155;
$successDark: #229743;
$danger: #ff4c41;
$dangerDark: #ff1c0e;
$warning: #ffab2d;
$warningDark: #f99500;
$info: #2db3ff;
$infoDark: #009ff9;
